UNITS LENGTH=A TIME=ps ENERGY=eV

d: DISTANCE ATOMS=1,2
UPPER_WALLS ARG=d AT=3.0 KAPPA=5.0 LABEL=wall_d

METAD ...
  LABEL=metad
  ARG=d
  SIGMA=0.05
  HEIGHT=0.005
  PACE=100
  BIASFACTOR=10
  TEMP=__TEMP__
  FILE=HILLS
... METAD

PRINT STRIDE=100 FILE=COLVAR ARG=d,metad.bias
FLUSH STRIDE=100
