UNITS LENGTH=A TIME=ps ENERGY=eV

d12: DISTANCE ATOMS=1,6
UPPER_WALLS ARG=d12 AT=3.5 KAPPA=10.0 LABEL=wall_d12

METAD ...
  LABEL=metad
  ARG=d12
  SIGMA=0.05
  HEIGHT=0.01
  PACE=1000
  BIASFACTOR=10
  TEMP=__TEMP__
  FILE=HILLS
... METAD

PRINT STRIDE=1000 FILE=COLVAR ARG=d12,metad.bias
FLUSH STRIDE=1000
